// Colors
$checkmark-green: #17aa1c;

$slide-gradient-start: #ebebeb;
$slide-gradient-end: #ffffff;

// PANTONE Classic Blue 2020 colors
$color-gradient-pos1: #555555;
$color-gradient-pos2: #d8d8d8;
$color-gradient-pos3: #cccccc;
$color-gradient-pos4: #ffffff;

// Fonts
$default-font: "Sen", sans-serif;
$display-font: "Fredoka One", sans-serif;

// Animation
$slide-base-duration: 30s;
$skewed-degree: -60deg;
//________________________________
html,
body {
  height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 60px;
  background: linear-gradient(
    $skewed-degree, 
    $color-gradient-pos1, 
    $color-gradient-pos2, 
    $color-gradient-pos3, 
    $color-gradient-pos4
  );
  background-size: 400% 400%;
  animation: gradient 30s linear infinite;
  font-family: $default-font;
}

.grain {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: url(public/images/texture.png);
  left: 0;
  position: fixed;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.slide-gradient {
  animation: slide $slide-base-duration ease-in-out infinite alternate;
  background-image: linear-gradient(
    $skewed-degree,
    $slide-gradient-start 50%,
    $slide-gradient-end 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.slide-gradient2 {
  animation-direction: alternate-reverse;
  animation-duration: ($slide-base-duration + $slide-base-duration / 3);
}

.slide-gradient3 {
  animation-duration: ($slide-base-duration + $slide-base-duration * 2 / 3);
}

// Skyline (unused)

canvas:not(#pdf) {
  background: linear-gradient(hsl(200, 50%, 80%) 0%, hsl(200, 30%, 95%) 75%);
  display: block;
}

// CONTENT

h1.display-headline {
  font-family: $display-font;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* PDF */
canvas#pdf {
  border: 1px solid lightgray;
  width: 100%;
  height: auto;
}

/* Checkmark list */
.list-display li {
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}
.list-checkmarks {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: left;
  padding-left: 1.5rem;
}
.list-checkmarks li {
  list-style-type: none;
  padding-left: 1rem;
}
.list-checkmarks li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 10px 0 -28px;
  color: $checkmark-green;
}

// ASCII Spinner

.ascii-spinner {
  color: $checkmark-green;
}