extends layout
block content
  .grain
  .slide-gradient
  .slide-gradient.slide-gradient2
  .slide-gradient.slide-gradient3
  //- .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
  //-   h5.my-0.mr-md-auto.font-weight-normal Nachbarschaftshilfe COVID-19
  //-   nav.my-2.my-md-0.mr-md-3
      //- a.p-2.text-dark(href='#') Features
      //- a.p-2.text-dark(href='#') Enterprise
      //- a.p-2.text-dark(href='#') Support
      //- a.p-2.text-dark(href='#') Pricing
    //- a.btn.btn-outline-primary(href='#') Sign up
  .px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
    h1(style="font-size: 100px")
      i.fas.fa-hand-holding-heart
    h1.display-headline.display-4 Hilf deinen Nachbarn!
    p.lead
      ul.list-display.list-checkmarks
        li Zettel ausfüllen
        li ausdrucken
        li in den Hausflur hängen
  .container
    .row
      .col-lg-8.order-lg-2.lg-4
        canvas#pdf.shadow.p-3.mb-5.bg-white(width="300" height="300") Leider unterstützt dein Browser das &lt;canvas&gt; Element nicht.
      .col-lg-4.order-lg-1
        h4.mb-3 
          i.fas.fa-comment-dots
          | &nbsp;PDF generieren&nbsp;
          b.ascii-spinner
        form#pdf-form.needs-validation(method="post", action="/savePDF", novalidate='')
          .mb-3
              label(for='name') 
                | Name
              input#name.form-control.update-on-change(name="name", type='text', placeholder='Moni Musterfrau', required='')
              .invalid-feedback
                | Bitte gib deinen Namen an, damit deine Nachbarn wissen an wen sie sich wenden können.
          .mb-3
            label(for='phone')
              | Wie kann man dich erreichen?
            input#phone.form-control.update-on-change(name="phone", type='text', placeholder='Telefon / Email')
            .invalid-feedback
              | Bitte gib deine Kontaktdaten an, damit dich deine Nachbarn erreichen können.
          .mb-3
            label(for='floor') 
              | Dein Stockwerk 
              span.text-muted (Optional)
            input#floor.form-control.update-on-change(name="floor", type='text', placeholder='3. OG links', required='')
            .invalid-feedback
              | Bitte gib dein Stockwerk an, damit deine Nachbarn dich finden können.
          hr.mb-4
          h4.mb-3 
            i.fas.fa-palette
            | &nbsp;Stil
          .btn-group.btn-group-toggle(data-toggle='buttons')
            label.btn.btn-secondary.active
              input#writing_style_1.update-on-change(type='radio' value="normal" name='writing_style' checked)
              |  Normal
            label.btn.btn-secondary
              input#writing_style_2.update-on-change(type='radio' value="formal" name='writing_style')
              |  Formell
          hr.mb-4
          h4.mb-3 
            i.fas.fa-download
            | &nbsp;Download
          .text-center
            button.btn.btn-lg.btn-success.my-3(type='submit', data-toggle="modal", data-target="#downloadModal") PDF herunterladen und ausdrucken 
    footer.pt-4.my-md-5.pt-md-5.border-top
      .row
        .col-12.col-md
          img.mb-2(src='/images/phage.svg', alt='', width='24', height='24')
          small.d-block.mb-3.text-muted 
            | Lizensiert unter  
            a.text-muted(href="https://www.isc.org/licenses/") 
              | ISC License 
            | 2020 
            a.text-muted(href="https://www.julianvogels.de") Julian Vogels
        .col-6.col-md
          h5 Nützliche Links
          ul.list-unstyled.text-small
            li
              a.text-muted(href='https://covapp.charite.de/') CovApp
            li
              a.text-muted(href='https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6') Echtzeit Dashboard
        .col-6.col-md
          h5 Spenden
          ul.list-unstyled.text-small
            li
              a.text-muted(href='https://www.betterplace.org') betterplace.org
            li
              a.text-muted(href='https://www.givewell.org') givewell.org
        .col-6.col-md
          h5 About
          ul.list-unstyled.text-small
            li
              a.text-muted(href='https://bitbucket.org/julianvogels/nachbarschaftshilfe-covid-19/') 
                i.fab.fa-bitbucket
                | &nbsp;Source Code (Bitbucket)

  // Modal
  #downloadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='downloadComplete')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Sag es weiter!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Teile diese Seite mit deinen Freunden, damit auch sie ihren Nachbarn helfen können.
        .modal-footer
          button#copySharableURL.btn.btn-primary(type='button', data-clipboard-text=encodeURIComponent(process.env.SHARE_URL))
            i.fas.fa-copy
            | &nbsp;Link kopieren
          a(href="https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(process.env.SHARE_URL))
            button.btn.btn-primary(type='button', style="background-color: #3b5998; border-color: #3b5998;")
              i.fab.fa-facebook
              | &nbsp;Facebook
          a(href="https://twitter.com/home?status=" + encodeURIComponent(process.env.SHARE_URL))
            button.btn.btn-primary(type='button', style="background-color: #00acee; border-color: #00acee;")
              i.fab.fa-twitter
              | &nbsp;Twitter
          a(href="mailto:info@example.com?&subject=&body=" + encodeURIComponent(process.env.SHARE_URL))
            button.btn.btn-primary(type='button')
              i.fas.fa-envelope
              | &nbsp;Email
          button.btn.btn-secondary(type='button' data-dismiss='modal') Nein, Danke