doctype html
html
    head
        meta(charset='utf-8')
        title Nachbarschaftshilfe COVID-19
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Julian Vogels')
        //- meta(name='theme-color', content='#563d7c')

        //-  Essential Social Media META Tags
        meta(property="og:title", content="Nachbarschaftshilfe COVID-19")
        meta(property="og:description", content="Hilf deinen Nachbarn! Zettel ausfüllen, ausdrucken, in den Hausflur hängen.")
        meta(property="og:image", content="https://www.nachbarschaftshilfe-covid-19.de/images/thumbnail.jpg")
        meta(property="og:url", content="http://www.nachbarschaftshilfe-covid-19.de")
        meta(property="og:type", content="website")
        meta(name="twitter:card", content="summary")

        //-  Non-Essential, But Recommended
        meta(property="og:site_name", content="Nachbarschaftshilfe COVID-19")
        meta(name="twitter:image:alt", content="Hilf deinen Nachbarn! Zettel ausfüllen, ausdrucken, in den Hausflur hängen.")

        //-  Non-Essential, But Required for Analytics
        //- meta(property="fb:app_id", content="your_app_id" /)
        //- meta(name="twitter:site", content="@website-username")

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Fredoka+One|Sen&display=swap")
        link(rel='stylesheet', href='/stylesheets/style.css')

        //- Icons
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        //- JS general frameworks
        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/481bf39ab5.js", crossorigin="anonymous")
        //- Copy to clipboard
        script(src="https://cdn.statically.io/gh/zenorocha/clipboard.js/v2.0.4/dist/clipboard.min.js")
        //- pdf.js
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.4.456/pdf.js")
        
        //- Site specific
        script(src="/javascripts/renderpdf.js")
        script(src="/javascripts/main.js")
    body
        block content