html,
body {
  height: 100%; }

body {
  padding-top: 20px;
  padding-bottom: 60px;
  background: linear-gradient(-60deg, #555555, #d8d8d8, #cccccc, #ffffff);
  background-size: 400% 400%;
  animation: gradient 30s linear infinite;
  font-family: "Sen", sans-serif; }

.grain {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: url(public/images/texture.png);
  left: 0;
  position: fixed;
  top: 0; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes slide {
  0% {
    transform: translateX(-25%); }
  100% {
    transform: translateX(25%); } }

.slide-gradient {
  animation: slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #ebebeb 50%, #ffffff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.4;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1; }

.slide-gradient2 {
  animation-direction: alternate-reverse;
  animation-duration: 40s; }

.slide-gradient3 {
  animation-duration: 50s; }

canvas:not(#pdf) {
  background: linear-gradient(#b3d5e6 0%, #eef4f6 75%);
  display: block; }

h1.display-headline {
  font-family: "Fredoka One", cursive; }

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px; }

.container > hr {
  margin: 60px 0; }

/* PDF */
canvas#pdf {
  border: 1px solid lightgray;
  width: 100%;
  height: auto; }

/* Checkmark list */
.list-display li {
  margin-bottom: 0.4rem;
  font-size: 1.1rem; }

.list-checkmarks {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: left;
  padding-left: 1.5rem; }

.list-checkmarks li {
  list-style-type: none;
  padding-left: 1rem; }

.list-checkmarks li:before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 10px 0 -28px;
  color: #17aa1c; }

.ascii-spinner {
  color: #17aa1c; }
